PORT=8000
MODE=dev
RUN_MIGRATIONS=true
JWT_SECRET=CF72F450D9DC06149F3BB74854027207F3FCADF1BC1CCDBDC0100714C14F6AA7
DATABASE_URL=postgresql://neondb_owner:npg_fL51FyilBaTW@ep-round-paper-a4bx38rc-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require